@font-face {
	font-family: "Gagalin";
	src: url(font/10922.woff2);
}

@font-face {
	font-family: "PP";
	src: url(font/10902.woff2);
}

@font-face {
	font-family: "SS";
	src: url(font/10919.woff2);
}

$gaga: "Gagalin", "Comic Sans MS", cursive;
$pp: "PP", "Comic Sans MS", cursive;
$ss: "SS", "Comic Sans MS", cursive;